.about {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  .about__top {
    background-color:red;
    width: 100%;
    .about__top-contents {

    }
  }
  .about__bottom {
    width: 100%;
    .about__bottom-contents {

    }
  }
}