.details__top-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;

  .details__top-recommended {
    p {
      font-weight: 800;
      font-style: italic;
      color: #fff;
      font-size: clamp(25px, 2.5vw, 50px);
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .details__top-btn-container {
    padding: 20px 0px;

    .details__top-btns {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        padding: 0px 5px;
        // margin-top: -60px !important;
        font-size: 20px;
      }


      .details__top-btn-customize {
        padding: 5px;
        
        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #ffffff;
          // font-size: clamp(10px, 2.5vw, 25px);
          color: #fff;
          background: #c25be9;
          background-position: center;
          outline: none;
          padding: 10px 30px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 700;
          box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

          cursor: pointer;
          letter-spacing: 2px;

          &:hover {
            border: 2px solid #00e5ff;
            box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
            transition: all 5.0 ease;
          }

          span {
            margin-top: 5px;
          }
        }
      }

      .details__top-btn-save {
        padding: 5px;

        button {
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #ffffff;
          // font-size: clamp(10px, 2.5vw, 25px);
          color: #fff;
          background: #c25be9;
          background-position: center;
          outline: none;
          padding: 10px 30px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 700;
          box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

          cursor: pointer;
          letter-spacing: 2px;

          &:hover {
            border: 2px solid #00e5ff;
            box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
            transition: all 5.0 ease;
          }

          span {
            margin-top: 5px;
          }

        }
      }

      .details__top-btn-checkout {
        padding: 5px;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #ffffff;
          // font-size: clamp(10px, 2.5vw, 25px);
          color: #fff;
          background-position: center;
          outline: none;
          padding: 10px 30px;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 700;
          box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

          cursor: pointer;
          letter-spacing: 2px;
          background: #00c797;
          // border: 2px solid #ffffff;
          background-position: center;

          &:hover {
            border: 2px solid #00e5ff;
            box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
            transition: all 5.0 ease;
          }

          span {
            margin-top: 5px;
          }

        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.details {
  width: 100%;
  // background-color: rgb(143, 38, 38);
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding-bottom: 30px;

  // flex-wrap: wrap;
  .img-container {
    max-width: 100%;
    // width: 400px;
    height: 500px;
    background-position: center;
    background-size: container;
    background-repeat: no-repeat;

    &:hover {
      background-size: 80%;
      border: 1px solid #ddd;
      cursor: zoom-in;
      outline: none;
      border: none;

    }
  }

  .details__img-container {

    max-width: 100%;
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    margin-right: 10px;
    border-bottom-right-radius: 50px;
    background-color: rgb(242, 242, 242);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
    box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;

    &:focus {
      outline: none;
    }

    // .img-container {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

    .box-details__heading {
      border-bottom-right-radius: 50px;
      width: 100%;
      // height: 50vh;
      height: 100%;
      margin-bottom: 40px;

      .thumb {
        img {
          width: 50px;
          height: 45px;
          display: block;
          object-fit: cover;
          margin: 20px;
          overflow: hidden;
        }
      }


      .box-details__desc {
        margin: 40px;
        border-radius: 10px;
        background-color: #ffffff;

        .box-details__desc-outer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          // background-color: red;
          padding: 20px 10px;
          text-align: center;


          .box-details__left {
            padding: 20px 0px;

            span {
              color: rgb(124, 123, 123);
            }

            p {
              color: #007bed;
              font-size: clamp(30px, 2.5vw, 35px);
              font-weight: 800;
              font-style: italic;
            }

            .box-details__main-desc {

              // display: flex;
              // align-items: center;
              .box-details__content {}
            }
          }

          .box-details__center {
            padding: 20px 0px;

            span {
              color: rgb(124, 123, 123);
            }

            p {
              color: #007bed;
              font-size: clamp(30px, 2.5vw, 35px);
              font-weight: 800;
              font-style: italic;

            }
          }

          .box-details__right {
            padding: 20px 0px;

            span {
              color: rgb(124, 123, 123);
            }

            p {
              color: #007bed;
              font-size: clamp(30px, 2.5vw, 35px);
              font-weight: 800;
              font-style: italic;

            }

            .box-details__right-btn {
              button {
                color: #fff;
                background: #007bed;
                border: 1px solid #007bed;
                background-position: center;
                width: 100%;
                min-width: 1px;
                margin-top: 10px;
                font-size: .75em;
                padding: 8px;
                text-decoration: none;
                position: relative;
                border-radius: 10px;
                cursor: pointer;
                font-weight: 800;
                -webkit-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
                -moz-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
                box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

              }
            }
          }

          .box-details__content-img {
            img {
              width: 50px;
              height: 45px;
              display: block;
              object-fit: cover;
              margin: 20px;
              overflow: hidden;
            }
          }

          .box-details__content-btn {

            // color: #fff;
            // background: #007bed;
            // border: 1px solid #007bed;
            // background-position: center;
            // width: 100%;
            // min-width: 1px;
            // margin-top: 10px;
            // font-size: .75em;
            // padding: 8px;
            // text-decoration: none;
            // position: relative;
            button {}
          }
        }
      }

      .box-details__content-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px auto;
        padding: 0px;

        button {
          width: 100%;
          color: #fff;
          background: #007bed;
          border: 1px solid #007bed;
          background-position: center;
          min-width: 1px;
          // margin-top: 10px;
          font-size: clamp(17px, 2.5vw, 20px);
          padding: 8px;
          text-decoration: none;
          position: relative;
          border-radius: 10px;
          cursor: pointer;
          outline: none;
          font-weight: 800;
          -webkit-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
          -moz-box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);
          box-shadow: 0px 0px 5px 1px rgba(97, 97, 97, 1);

        }
      }
    }


  }

  .box-details {

    max-width: 100%;
    // max-width: 500px;
    width: 100%;

    // margin: 20px;
    button,
    .cart {
      border: 1px solid #555;
      outline: none;
      background: #333;
      cursor: pointer;
      color: white;
      margin-right: 5px;
      margin-top: 10px;

    }

    .box-details__title {}

    .box-details__price {}

    .box-details__specs {}
  }

  .box-details .thumb {
    display: flex;
    cursor: pointer;
  }

}

.box-details .thumb {
  img {
    width: 50px;
    height: 45px;
    display: block;
    object-fit: cover;
    margin: 20px;
    overflow: hidden;
  }
}


.box-details .cart {
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

@media (max-width: 500px) {
  .details {
    padding: 0;
  }

  .box-details .thumb img {
    width: 40px;
    height: 35px;
  }

  .details .img-container {
    height: 350px;
  }
}

@media screen and (max-width:900px) {
  .details__top-heading {
    display: flex;
    flex-direction: column;

    .details__top-recommended {
      p {}
    }

    .details__top-btn-container {
      .details__top-btns {
        display: flex;
        // flex-direction: column;

        .details__top-btn-customize {
          button {
            span {}
          }
        }

        .details__top-btn-save {
          button {
            span {}

          }
        }

        .details__top-btn-checkout {
          button {
            span {}

          }
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0px;
    padding: 0px;


    .img-container {
      // height: 300px;
    }

    .details__img-container {
      border-top-right-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

      .box-details__heading {
        border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;

        .box-details__desc {

          .box-details__desc-outer {
            .box-details__left {
              span {}

              p {}

              .box-details__main-desc {
                .box-details__content {}
              }
            }

            .box-details__center {
              span {}

              p {}
            }

            .box-details__right {
              span {}

              p {}
            }
          }
        }
      }
    }

    .box-details {
      width: 100% !important;

      .box-details__specs {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .details__top-heading {
    display: flex;
    flex-direction: column;

    .details__top-recommended {
      p {}
    }

    .details__top-btn-container {
      display: none;

      .details__top-btns {
        display: flex;
        flex-direction: column;

        .details__top-btn-customize {
          button {
            span {}
          }
        }

        .details__top-btn-save {
          button {
            span {}

          }
        }

        .details__top-btn-checkout {
          button {
            span {}

          }
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {

  .details__top-heading {
    display: flex;
    flex-direction: column;

    .details__top-recommended {
      p {}
    }

    .details__top-btn-container {
      display: none;

      .details__top-btns {
        display: flex;
        flex-direction: column;

        .details__top-btn-customize {
          button {
            span {}
          }
        }

        .details__top-btn-save {
          button {
            span {}

          }
        }

        .details__top-btn-checkout {
          button {
            span {}

          }
        }
      }
    }
  }

  .details {
    padding: 0px;

    .img-container {
      height: 400px;
      // width: 100px;
      // img {
      //   width: 100px !important;
      // }
      // &:hover {
      //   background-size: 110%;

      // }
    }

    border: 0px !important;

    .details__img-container {
      border-bottom-right-radius: 0px;
      border: 0px !important;

      .box-details__heading {


        .box-details__desc {


          .box-details__desc-outer {
            flex-direction: column;

            .box-details__left {
              span {}

              p {}

              .box-details__main-desc {
                .box-details__content {}
              }
            }

            .box-details__center {
              span {}

              p {}
            }

            .box-details__right {
              span {}

              p {}
            }
          }
        }
      }
    }

    .box-details {
      width: 100% !important;

      .box-details__specs {
        width: 100% !important;
      }
    }
  }
}