.support-sale {
  background: #f0f0f0;
  padding: 55px 35px;
  width: 50%;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
  .support-sale__heading {
    p {
      font-size: clamp(15px, 3.5vw, 25px);
      font-weight: 700;
      font-style: italic;
    }
  }
  .support-sale__text {}
}




@media screen and (max-width: 500px) {
  .support-sale {
    width: 100%;
    .support-sale__heading {
      p {
      }
    }
    .support-sale__text {}
  }
  
  
}