
  .close__container {
    .delete__Btn {
      background-color: red !important;
      border: none !important;
    }
  
  }

.go-to-cart__container {
  .cancelBtn {
    // font-size: 20px !important;
    color: rgb(255, 255, 255) !important;
  }
}