.darkBG {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  width: 500px;
  height: 200px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: fadeIn 0.4s ease;
}

.modalHeader {
  height: 50px;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 20px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
  // margin: 5px 0px;
}

.modalActions {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  color: #2c3e50;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform 0.25s ease;
  text-decoration: none;

  &:hover {
    transform: translate(-2px, 2px);
  }
}

.deleteBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.85rem;
  color: #fff;
  background: #ff3e4e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: #e53344;
    box-shadow: 0 8px 18px rgba(255, 62, 78, 0.4);
    transform: translateY(-3px);
  }
}

.cancelBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  background: #7d08e3;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background: #ddd;
    color: #3a3a3a;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    width: 300px;
    height: 230px;
  }
}


@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
