.checkout {
  width: 100%;

  .checkout__form {
    width: 100% !important;

    * input {
      padding: 15px 10px;
      border-radius: 5px;
      outline: none;
      border: 0.5px solid rgb(162, 162, 162);
      margin: 5px 0px;
    }

    * select {
      padding: 15px 10px;
      border-radius: 5px;
      outline: none;
      border: 0.5px solid rgb(162, 162, 162);
      margin: 5px 0px;
    }

    select:nth-child(1) {
      margin-right: 10px;
    }

    select:nth-child(2) {
      margin-right: 10px;
    }

    .checkout__history {
      padding: 20px 0px;
      display: flex;
      align-items: center;

      .checkout__history-inner {
        display: flex;
        // justify-content: center;
        align-items: center;

        p {
          display: flex;
          align-items: center;
          font-size: 13px;
        }

        p:nth-child(1) {
          color: #c25be9;
        }

        p:nth-child(2) {
          color: #333;
          font-weight: 500;
        }

        p:nth-child(3) {
          color: #c25be9;
        }

        p:nth-child(4) {
          color: #c25be9;
        }

        span {
          color: rgb(160, 158, 158);
          font-size: 12px;
          margin: 0px 5px;
          font-weight: 700;
          margin-top: 5px;
        }

      }
    }

    .checkout__express {
      padding: 20px 0px;
      display: flex;
      // justify-content: center;
      flex-direction: column;
      align-items: center;

      .checkout__express-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0px;

        .checkout__express-paypal {
          margin: 0px 5px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: rgb(240, 209, 36);
            padding: 10px 100px;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 100%;
            font-size: 15px;

            span {
              font-style: italic;
              font-weight: 800;
            }

            span:nth-child(1) {
              color: rgb(64, 84, 163);
            }

            span:nth-child(2) {
              color: rgb(64, 84, 163);
            }

            span:nth-child(3) {
              color: rgb(62, 193, 223);
            }
          }
        }

        .checkout__express-google-pay {
          margin: 0px 5px;

          button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333;
            padding: 10px 100px;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 100%;
            color: white;
            font-size: 15px;

            span {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    .checkout__or {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 12px;
        color: rgb(136, 136, 136);
      }
    }

    .checkout__form-contact-container {
      width: 100%;
      padding: 30px 0px;

      .checkout__form-contact-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;

        .checkout__form-contact-top-head {
          font-size: 20px;
          color: #333333;
        }

        .checkout__form-contact-top-bottom {
          display: flex;
          font-size: 14px;

          p {}

          a {
            margin-left: 10px;
            color: #c25be9;
            text-decoration: none;
          }
        }
      }

      .checkout__form-contact-bottom {
        .checkout__form-contact-bottom-email {
          display: flex;

          input {
            width: 100%;
          }
        }

        .checkout__form-contact-bottom-radio {
          display: flex;
          padding: 10px 0px;
          font-size: 14px;
          align-items: center;

          p {
            color: #545454;
            margin-left: 10px;
          }
        }
      }
    }

    .checkout__form-address-container {
      width: 100%;

      .checkout__form-address-top-head {
        .checkout__form-address-top-p {
          font-size: 20px;
          padding: 10px 0px;
          color: #333333;
        }

        .checkout__form-address-top-head-input {
          display: flex;
          justify-content: center;
          width: 100%;

          input {
            width: 100%;
            // margin-left: 10px;
          }

          input:nth-child(1) {
            margin-right: 15px;
          }
        }
      }

      .checkout__form-address-center-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: 100%;
        }
      }

      .checkout__form-address-right-input {
        width: 100%;
        display: flex;
        align-items: center;

        input {
          width: 100%;
        }

        input:nth-child(1) {
          margin-right: 15px;
          // width: 30%;

        }

        input:nth-child(2) {
          margin-right: 15px;
          // width: 30%;

        }

        input:nth-child(3) {
          // margin-right: 15px;
          // width: 30%;
        }
      }

      .checkout__form-address-input-phone {
        input {
          width: 100%;
        }
      }

      .checkout__form-address-input-radio {
        display: flex;
        padding: 10px 0px;
        font-size: 14px;
        align-items: center;

        p {
          color: #545454;
          margin-left: 10px;
        }
      }
    }

    .checkout__form-link {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;

      .checkout__form-return {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
        }

        p {
          font-size: 14px;
          color: #c25be9;
          display: flex;
          align-items: center;
          justify-content: center;


          span {
            font-size: 12px;
            margin: 0px 5px;
            font-weight: 700;
            margin-top: 5px !important;
          }

        }
      }

      .checkout__form-shipping {
        a {
          text-decoration: none;
        }

        button {
          padding: 10px 30px;
          width: 100%;
          font-size: 15px;
          font-weight: 600;
          color: #fff;
          border-radius: 10px;
          cursor: pointer;
          display: inline-block;
          background-color: #c25be9;
          background-clip: border-box;
          border: none;
          outline: none;
        }
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .checkout {
    .checkout__form {
      .checkout__form-contact-container {
        .checkout__form-contact-top {
          .checkout__form-contact-top-head {}

          .checkout__form-contact-top-bottom {}
        }

        .checkout__form-contact-bottom {
          .checkout__form-contact-bottom-email {}

          .checkout__form-contact-bottom-radio {}
        }
      }

      .checkout__form-address-container {
        .checkout__form-address-top-head {
          .checkout__form-address-top-p {}

          .checkout__form-address-top-head-input {}

          .checkout__form-address-center-input {}

          .checkout__form-address-right-input {}

          .checkout__form-address-input-phone {}

          .checkout__form-address-input-radio {}
        }
      }

      .checkout__form-link {
        .checkout__form-return {}

        .checkout__form-shipping {}
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .checkout {
    .checkout__form {
      .checkout__form-contact-container {
        .checkout__form-contact-top {
          .checkout__form-contact-top-head {}

          .checkout__form-contact-top-bottom {}
        }

        .checkout__form-contact-bottom {
          .checkout__form-contact-bottom-email {}

          .checkout__form-contact-bottom-radio {}
        }
      }

      .checkout__form-address-container {
        .checkout__form-address-top-head {
          .checkout__form-address-top-p {}

          .checkout__form-address-top-head-input {}

          .checkout__form-address-center-input {}

          .checkout__form-address-right-input {}

          .checkout__form-address-input-phone {}

          .checkout__form-address-input-radio {}
        }
      }

      .checkout__form-link {
        .checkout__form-return {}

        .checkout__form-shipping {}
      }
    }
  }
}