.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__section {
    width: 100%;
    padding: 4rem 1.5rem;

    @media screen and (max-width: 768px) {
      padding: 3rem 1rem;
    }
  }

  &__header,
  &__footer {
    padding: 0;
  }

  &__bestsellers {
  }

  &__checkout {
    background: #f5f5f5;
  }

  &__follow {
    color: #000000;
  }

  &__pricing,
  &__review {
    background-color: #fff;
  }
}
