.home__main {

  .home__main__tope-header,
  .home__main__price,
  .home__main__review,
  .home__main__best-sellers,
  .home__main__follow,
  .home__main__checkout,
  .home__main__footer {
    // padding: 100px 0px;

  }

  .home__main__top-header {
  }

  .home__main__price {

  }

  .home__main__review {
  }

  .home__main__best-sellers {
    background-color: rgb(125, 8, 227);
  margin: 0px !important;
  }

  .home__main__follow {
    padding: 100px 0px;

  }

  .home__main__checkout {
    padding: 100px 0px;
  }

  .home__main__footer {
    padding: 100px 0px;
  }
}