.review-video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 100px 20px;
  overflow: hidden;
  grid-gap: 10px;
  background-color: #fff;
  
  .review-video__container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: box-shadow .3s;
    border-radius: 10px;
    // background: #fff;
    float: left;
    
    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
    
    .review-video__top {
      display: flex;
      flex-direction: column;
      
      .review-video__top-video {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-position: center;
        background-size: cover;
        
        .review-video__top-video-player {
          border-radius: 20px;
        }
        
        video {
          width: 20px;
        }
      }
      
      .review-video__top-summary {
        background-color: rgba(235, 230, 230, 0.5);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        padding: 20px 40px;
        height: 100%;
        
        p {
          font-size: 14px;
          padding: 00px 0px;
        }
        
        .review-video__top-summary-span-1 {
          color: red;
          padding: 5px 0px;
          font-size: 20px;
          display: flex-start;
        }
        
        .review-video__top-summary-span-2 {
          color: crimson;
          padding: 5px 0px;
          font-size: 20px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    
    .review-video__bottom {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      
      .review-video__bottom-img {
        
        img {
          border-radius: 50%;
          width: 60px;
          
        }
      }
      
      .review-video__bottom-title {
        padding-left: 20px;
        
        .review-video__bottom-name {
          p {
            font-weight: 800;
            font-size: 30px;
            letter-spacing: 1px;
            font-style: italic;
          }
        }
        
        .review-video__bottom-comments {
          width: 80%;
          
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .review-video {
    .review-video__container {
      .review-video__top {
        .review-video__top-video {}

        .review-video__top-summary {}
      }

      .review-video__bottom {
        .review-video__bottom-img {}

        .review-video__bottom-title {
          .review-video__bottom-name {}

          .review-video__bottom-comments {}
        }
      }
    }
  }
}