.review {
  background-image: url('https://cdn.shopify.com/s/files/1/0408/5792/7834/files/Ambassador_mobile_750x.jpg?v=1600137927');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  // padding: 100px 0px;
  
  .review__heading {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding-top: 100px;
    padding-left: 40px;
    p {
      font-size: 30px;
      font-weight: 800;
      color: #fff;
      font-style: italic;
    }
  }
  
  .review__outer {
    display: flex;
    // align-items: center;
    overflow-x: scroll;
    padding: 100px 0px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    .review__card {
      border-radius: 10px;
      background-color: #e2f3f5;
      // width: 400px;
      height: 100%;
      margin: 5px;
      // height: 500px;
      
      .review__top-container {
        .review__top {
          overflow: hidden;
          // display: flex;
          // align-items: center;
          // justify-content:center;
          .review__top-img {
            width: 350px;
            
            img {
              background-position: center;
              height: 300px;
              background-size: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              // height: 200px;
              // height: 100%;
            }

          }

          .review__top-opinion {
            padding: 10px 20px;
            font-size: 13px;
            height: 150px;
            display: flex;
            justify-content: center;
            span {
              padding: 0px 10px;
              color: rgb(0, 217, 255);
            }
          }
        }
      }

      .review__bottom-container {
        .review__bottom {
          display: flex;
          align-items: center;
          padding-bottom: 20px;

          .review__bottom-img {
            padding: 10px 20px;

            img {
              border-radius: 50%;
              width: 50px
            }

          }

          .review__bottom-prpfile {
          }

          .review__bottom-name {
            padding: 10px 20px;

            p {
              font-weight: 700;
              font-size: 20px;
            }
          }

          .review__bottom-bio {
            padding: 10px 20px;
            font-size: 11px;
            height: 60px;
          }
        }
      }
    }

    .review__card::-webkit-scrollbar {
      display: none;
    }

    .review {
      -ms-overflow-style: none;
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

@media only screen  and (max-width: 500px) {
  .review {
    .review__heading {
      display: flex;
      // justify-content: center;
      align-items: center;
      p {
        font-size: 25px !important;
      }
    }

    .review__outer {
      .review__card {
        .review__top-container {
          .review__top {
            .review__top-img {}

            .review__top-opinion {}
          }
        }

        .review__bottom-container {
          .review__bottom {
            .review__bottom-img {}

            .review__bottom-prpfile {
              .review__bottom-name {}

              .review__bottom-bio {}
            }
          }
        }
      }
    }
  }
}