.footer {
  overflow: hidden;
  background-color: #000000;
  height: 100%;
  background-image: url('//cdn.shopify.com/s/files/1/0408/5792/7834/files/Footer_Background_1920x.jpg?v=1597715160');
  background-size: cover;
  object-fit: cover;
  // background-position: center;
  background-repeat: no-repeat;
  

  // position: absolute;
  width: 100%;
  // opacity: 0.8;
  .footer__container {

  }
}